[submodule "flue-flash-attn/cutlass"]
	url = https://github.com/NVIDIA/cutlass.git
	path = flue-flash-attn/cutlass
[submodule "flue-flash-attn-v3/cutlass"]
	url = https://github.com/NVIDIA/cutlass.git
	path = flue-flash-attn-v3/cutlass